<box fit vertical
  class='content-xxx'
  align='center'
  justify='center'>

  <img src={{xxxImageUrl}}>

  <button {{action (route-action 'loadRegularChoose')}}
    disabled={{if isFetchingImage 'true' null}}>

    just xxx plz
  </button>

  <button {{action (route-action 'loadEightInchChoose')}}
    disabled={{if isFetchingImage 'true' null}}>

    xxx w/8" choose
  </button>
</box>
